<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH1rTPpIL_MNN3OHh1S9EX_7ndCZetbic</string>
	<key>GCM_SENDER_ID</key>
	<string>970416564951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ruxiu0409.FengChiaFoodMap</string>
	<key>PROJECT_ID</key>
	<string>fengchiafoodmapapp</string>
	<key>STORAGE_BUCKET</key>
	<string>fengchiafoodmapapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970416564951:ios:e21a0803e1626680629e92</string>
</dict>
</plist>